click-help-colors==0.9
click==7.1.2; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
clumper==0.2.7
colorama==0.4.4; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.6" and python_full_version >= "3.5.0" and python_version < "4.0"
commonmark==0.9.1; python_version >= "3.6" and python_version < "4.0"
gazpacho==1.1; python_version >= "3.6"
pygments==2.7.3; python_version >= "3.6" and python_version < "4.0"
rich==9.5.1; python_version >= "3.6" and python_version < "4.0"
shellingham==1.5.1; python_version >= "3.6"
typer==0.3.2; python_version >= "3.6"
typing-extensions==3.7.4.3; python_version >= "3.6" and python_version < "4.0"
